body {
  background: #D96F32;
  min-width: 800px;
  min-height: 400px;

}

.logotipo {
  margin-bottom: 30px;
  border-radius: 10%;
}

.align {
  text-align:center;
}

.Login-box {
  background: linear-gradient(to bottom left, #2E8B57, #D95DB8);
  width: 500px;
  height: 250px;
  padding: 10px;
  margin: auto;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  font-family: sans-serif;
}

.user-box {
  width: 100%;
  padding: 10px;
  height: 40px;
  color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
}

.user-box label {
  position: relative;
  top: -55px;
  left: 0px;
  color: black;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -73px;
  left: 0;
  color: white;
  font-size: 15px;
}

input {
  width: 100%;
  padding: 3px;
  font-size: 16px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
  background: transparent;
}

.Board-game{
  display: none;
}


.grid {
  position: relative;
  margin: 20px auto;
  display: grid;
  width: 400px;
  height: 400px;
  padding: 0px;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  padding: 4px;
  background-color: green;
}

.disc {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 2px;
}

#SCRP1 {
  background-color: black;
}

#SCRP2 {
  background-color: white;
}

#Scoreboard {
  width: 100px !important;
  height: 20px !important;
}

.Button {
  background-image: linear-gradient(to right, #D95DB8, #D96F32, #2E8B57);
  position: relative;
  color: black;
  top: 30px;
  left: 10px;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  font-family: sans-serif;
  background-size: 200%;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem 0;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .6s;
}

.Button:hover {
  background-position: right;
}


h1, h2, h3 {
  margin: 0 0 20px;
  color: black;
  font-size: 40px;
  text-align: center;
}
